<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Messages | Secret Messages</title>
</head>

<body>
    <%- include('./partials/header.ejs')%>
        <main>
            <% if (locals.joinMsg) { %>
                <div>
                    <p>
                        <%= locals.joinMsg %>
                    </p>
                </div>
                <% } %>
                    <h1>All Messages</h1>
                    <a href="/logout">Logout</a>
                    <a href="/new-message">Post Message</a>
                    <% if (messages) { %>
                        <ul>
                            <% messages.map(message=> { %>
                                <li>
                                    <% if (user.isMember) { %>
                                        <span>
                                            <%= message.date %>
                                        </span>
                                        <% } %>
                                            <h3>
                                                <%= message.title %>
                                            </h3>
                                            <p>
                                                <%= message.content %>
                                            </p>
                                            <% if (user.isMember) { %>
                                                <span>
                                                    <%= message.author %>
                                                </span>
                                                <% } %>
                                                    <% if (user.isAdmin) { %>
                                                        <form action="/delete/<%= message.id %>" method="POST">
                                                            <button type="submit">Delete Message</button>
                                                        </form>
                                                        <% } %>
                                </li>
                                <% }); %>
                        </ul>
                        <% } %>
                            <% if (!user.isMember) { %>
                                <a href="/join">Become a Member</a>
                                <% } %>
        </main>
        <%- include('./partials/footer.ejs')%>
</body>

</html>