<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>All Messages | Secret Messages</title>
</head>

<body>
    <%- include('./partials/header.ejs')%>
    <main>
        <%- include('./partials/sidebar.ejs') %>
        <div class="content">
            <% if (locals.joinMsg) { %>
                <div>
                    <p>
                        <%= locals.joinMsg %>
                    </p>
                </div>
            <% } %>
            <div class="container">
                <% if (!user.isMember) { %>
                    <div class="alert blue">
                        <p>Want to see message times and authors? <a href="/join">Become a member</a>!</p>
                    </div>
                <% } %>
                <h1 class="messages-list-title">All Messages</h1>
                <%- include('./partials/messages/message-list.ejs')  %>
            </div>
        </div>
    </main>
    <%- include('./partials/footer.ejs')%>
</body>

</html>