<li class="message-item">
    <div class="message">
        <h3 class="message-title">
            <%= message.title %>
        </h3>
        <p class="message-content">
            <%= message.content %>
        </p>
        <% if (user.isMember) { %>
        <span class="message-info">
            From: <%= message.author %> on <%= message.date %>
        </span>
        <% } else { %>
        <span class="message-info blurred">
            From: Secret Identity on Not A, Real Date 00:00 AM
        </span>
        <% } %>
    </div>
    <% if (user.isAdmin) { %>
    <form action="/delete/<%= message.id %>" method="POST">
        <button type="submit" class="message-delete-btn">
            <img src="/icons/trash.svg" alt="Trash delete icon">
        </button>
    </form>
    <% } %>
</li>